<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @ingeniero.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @ingeniero.apellido %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @ingeniero.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @ingeniero.telefono %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @ingeniero.mail %>
</p>

<p>
  <strong>Especialidad:</strong>
  <%= @ingeniero.especialidad %>
</p>

<p>
  <strong>Postgrados:</strong>
  <%= @ingeniero.postgrados %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @ingeniero.linkedin %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @ingeniero.facebook %>
</p>

<p>
  <strong>Googlemas:</strong>
  <%= @ingeniero.googlemas %>
</p>
<p>
  <strong>Googlemas:</strong>
  <%= @ingeniero.urlImg %>
</p>

<%= link_to 'Edit', edit_ingeniero_path(@ingeniero) %> |
<%= link_to 'Back', ingenieros_path %>
