<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Free responsive web template - Company</title>
<meta property="og:url" content="http://www.valeron.net/index.html" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Free responsive web template Istria" />
<meta property="og:description" content="Free responsive web template Istria by Valeron design studio" />
<meta property="og:image" content="http://www.valeron.net/img/valeron-artist.jpg" />
<meta name="description" content="Free responsive web template Istria by Valeron design studio" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="robots" content="index,follow,all" />
<meta name="keywords" content="Izrada web stranica, web studio Istra" />
<meta name="author" content="Valeron design studio" />
<link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="img/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="img/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="img/manifest.json">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="img/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="css/animsition.min.css">
<!--<link rel="stylesheet" type="text/css" href="css/grid.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/menu.css" />
<link rel="stylesheet" type="text/css" href="css/overlay.css" />
<link rel="stylesheet" href="css/social.css">
<link rel="stylesheet" href="css/imgover.css">
<link rel="stylesheet" href="css/triangle.css">-->
<link href="css/lightgallery.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.8/font-awesome-animation.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
<div class="animsition-overlay">
  <section id="section-6">
    <div class="horBar2Bxx wow fadeInLeftBig" data-wow-duration="3s"></div>
    <header class="main_h">
      
      <%= render "menu/menu" %>
      
    </header>
    <div class="grid flex">
      <div class="row">
        <div class="colw_6">
          <h1 id="title-sub1">Free web template Istria 1</h1>
          <h2 id="title-sub2">Nuestro Equipo! </h2>
        </div>
        <!-- END colw_6 -->
        
        <div class="colw_6 wow zoomIn">
          <div class="box-fix">
            <h3 class="centered">Find us on social media</h3>
            <div class="social"> <a href="https://www.facebook.com/Valeron-design-studio-245216518822368/" class="soc-btn facebook"> <i class="fa fa-facebook"></i> Facebook </a> <a href="https://twitter.com/ds_valeron" class="soc-btn twitter"> <i class="fa fa-twitter"></i> Twitter </a> <a href="https://plus.google.com/116499013539302933204" class="soc-btn google5"> <i class="fa fa-google"></i> Google + </a> </div>
          </div>
        </div>
        <!-- END col_6 --> 
        
      </div>
      <!-- END row -->
      
      <div class="row">
        <div class="colw_6 beta wow column zoomIn">
          <div class="wrapimg hack960">
            <div class="pic"> <img src="/assets/web-dizajn-6.jpg" class="pic-image full-width" alt="Pic"/>
              <div class="pic-caption top-to-bottom">
                <h4 class="pic-title">Free web template</h4>
              </div>
            </div>
          </div>
          <!-- END wrapimg --> 
        </div>
        <!-- END col_6 -->
        
        <div class="colw_6 beta column reladiv">
          <div class="box66">
            
            <p>Somos una organizacion de ingenieros y futuros ingenieros destinados tanto a llevar la ingenieria a la gente como a dar soporte a los nuevos egresados para ayudarlos en su nuevo camino como profesionales.</p>
            <p>Contamos con gente en diversas areas para diversificar y especializar el apoyo que se necesite en el area que se necesite.</p>
            <p class="paddbott100">En esta pagina encontrara formas de contacto con nuestro equipo y tambien podra ver sus perfiles!.</p>
            
            <div class="istria-line left">
              <div class="inner"></div>
            </div>
            <div class="istria-line right">
              <div class="inner"></div>
            </div>
          </div>
          <!-- END box66 --> 
        </div>
        <!-- END col_6 --> 
        
      </div>
      <!-- END row --> 
      
    </div>
    <!-- End GRID FLEX --> 
    
  </section>
  <!-- END #section-2 -->
  
 <div class="backimg" id="section-7">
    <div class="bghover7 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".1s">
      <div class="grid flex">
        <div class="row paddtop5">
          <div class="colw_8 column wow fadeInUpBig" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="col_6 beta">
              <div class="box90 boxwsha reladiv column2">
                <h4 class="color wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.5s">Ingenieria industrial </h4>
               <div class="user one">
                    <% @ingenieros.each do |ingeniero| %>
	                <% if ingeniero.especialidad == "industrial" %>
	               
	                
	                <div class="user" style="background-image:url('<%= ingeniero.urlImg %>')">
	                   
	                </div>
	                <% end %>
	
	
              <% end %>
                 
                 
               </div>
               
                <div class="istria-line left">
                  <div class="inner"></div>
                </div>
                <div class="istria-line right">
                  <div class="inner"></div>
                </div>
              </div>
              <!-- END box80 --> 
            </div>
            <!-- END col_6 -->
            
            <div class="col_6 beta wow fadeInUpBig" data-wow-duration="1s" data-wow-delay=".6s">
              <div class="box90 boxwsha reladiv column2">
                <h4 class="color wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="1s">Ingenieria mecanica</h4>
                 <div class="user one">
                   
                   <% @ingenieros.each do |ingeniero| %>
	                <% if ingeniero.especialidad == "mecanica" %>
	                   <div class="user" style="background-image:url('<%= ingeniero.urlImg %>')">
	                   
	                </div>
	                <% end %>
	
	
              <% end %>
                   
                 </div>
                 
                <div class="istria-line left">
                  <div class="inner"></div>
                </div>
                <div class="istria-line right">
                  <div class="inner"></div>
                </div>
              </div>
              <!-- END box80 --> 
            </div>
            <!-- END col_6 --> 
            
          </div>
          <!-- END col_6 -->
          
          <div class="colw_4 column wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="1s">
            <div class="box90 boxwsha column2 wow zoomIn">
              <div class="colw_12 alomdebe">
                  
                   
                     <h4 class="color wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="1s">Ingenieria en sistemas</h4>
                       <% @ingenieros.each do |ingeniero| %>
	                <% if ingeniero.especialidad == "sistemas" %>
	               
	                
	                <div class="user" style="background-image:url('<%= ingeniero.urlImg %>')">
	                   
	                </div>
	                <% end %>
	
	
              <% end %>
                <div class="istria-line left">
                  <div class="inner"></div>
                </div>
                <div class="istria-line right">
                  <div class="inner"></div>
                </div>
                   
                   
                   </div>
              
            </div>
            <!-- END box90 boxwsha --> 
          </div>
          <!-- END col_4 --> 
          
          
          <div class="colw_8 column wow fadeInUpBig" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="col_6 beta">
              <div class="box90 boxwsha reladiv column2">
                <h4 class="color wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.5s">Ingenieria electrica </h4>
                     <% @ingenieros.each do |ingeniero| %>
	                <% if ingeniero.especialidad == "electrica" %>
	               
	                
	                <div class="user" style="background-image:url('<%= ingeniero.urlImg %>')">
	                   
	                </div>
	                <% end %>
	
	
              <% end %>
                <div class="istria-line left">
                  <div class="inner"></div>
                </div>
                <div class="istria-line right">
                  <div class="inner"></div>
                </div>
              </div>
              <!-- END box80 --> 
            </div>
            <!-- END col_6 -->
            
            <div class="col_6 beta wow fadeInUpBig" data-wow-duration="1s" data-wow-delay=".6s">
              <div class="box90 boxwsha reladiv column2">
                <h4 class="color wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="1s">Ingenieria quimica</h4>
                       <% @ingenieros.each do |ingeniero| %>
	                <% if ingeniero.especialidad == "quimica" %>
	               
	                
	                <div class="user" style="background-image:url('<%= ingeniero.urlImg %>')">
	                   
	                </div>
	                <% end %>
	
	
              <% end %>
                <div class="istria-line left">
                  <div class="inner"></div>
                </div>
                <div class="istria-line right">
                  <div class="inner"></div>
                </div>
              </div>
              <!-- END box80 --> 
            </div>
            <!-- END col_6 --> 
            
          </div>
          <!-- END col_6 -->
          
          <div class="colw_4 column wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="1s">
            <div class="box90 boxwsha column2 wow zoomIn">
              <div class="colw_12 alomdebe">
                  
                   
                     <h4 class="color wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="1s">Ingenieria Civil </h4>
                       <% @ingenieros.each do |ingeniero| %>
	                <% if ingeniero.especialidad == "civil" %>
	               
	                
	                <div class="user" style="background-image:url('<%= ingeniero.urlImg %>')">
	                   
	                </div>
	                <% end %>
	
	
              <% end %>
                <div class="istria-line left">
                  <div class="inner"></div>
                </div>
                <div class="istria-line right">
                  <div class="inner"></div>
                </div>
                   
                   
                   </div>
              
            </div>
            <!-- END box90 boxwsha --> 
          </div>
          <!-- END col_4 --> 
          
          
          
        </div>
        <!-- END row --> 
      </div>
      <!-- END .GRID FLEX --> 
    </div>
    <!-- END bghover --> 
  </div>
  <!-- END #section-3 -->
  
  <div class="backimg" id="section-door">
    <div class="grid flex">
      <div class="row">
        <div class="colw_6 alomdebe">
          <div class="colw_12 alomdebe white padd5555 hei100 wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".5s">
            <div class="col_12 paddtop100">
              <div class="zoomimg" id="lightgallery">
                <div class="zoom-wrap" data-responsive="/assets/welcome-to-magic-oprtalj-375.jpg 375, /assets/welcome-to-magic-oprtalj-480.jpg 480, /assets/welcome-to-magic-oprtalj-800.jpg 800" data-src="/assets/welcome-to-magic-oprtalj-1600.jpg" data-sub-html="<h4>Welcome to magic Istria</h4>"> <a href="" class="fixico"><i class="fa fa-search fa-2x"></i></a> <img src="/assets/welcome-to-magic-oprtalj-2.jpg" alt="Welcome to magic Istria" class="full-width"> <span class="fadef"></span> </div>
                <!-- END data-responsive --> 
                
              </div>
              <!-- END .zoomimg #lightgallery  --> 
            </div>
            <!-- END col_12 --> 
            
          </div>
          <!-- END col_12 --> 
        </div>
        <!-- END col_6 -->
        
        <div class="colw_6 alomdebe">
          <div class="colw_12 alomdebe white paddtop105 hei100 wow fadeInRight" data-wow-duration="2s" data-wow-delay=".5s">
            <h5 class="title-3">Dudas ?</h5>
            <p>Acordate que estamos aca para ayudar!, cual consulta o duda que tengas preguntanos, si no sabes a quien referirte especificamente, encvia un mail por la seccion <span>contacto</span> y nosotros nos encargamos de que te conteste un especialista.</p>
            <p>Ademas nuestra funcion es ayudar tanto a la comunidad como a los graduados en problemas de ingenieria, nosotros nos nutrimos de sus preguntas para mejorar y crecer no dudes en acercarte a nuestra cede ! , en la seccion contacto , encontraras la direccion y un mapa, y tambien los horarios de atencion</p>
            <p>El compromiso es parte fundamental de este emprendimiento, nosotros nos comprometemos a resolver tus dudas o ayudarte en tu carrera pero tambien esperamos responsabilidad y feedback a nuestro tabajo para la comunidad.</p>
            
            <div class="clear"></div>
            <div class="col_12">
              <div class="triangle">
                <div class='wrap2'>
                  <div class='crop'> <img src='/assets/staff1.jpg'> </div>
                </div>
                <div class='wrap2'>
                  <div class='crop'> <img src='/assets/staff2.jpg'> </div>
                </div>
                <div class='wrap2'>
                  <div class='crop'> <img src='/assets/staff3.jpg'> </div>
                </div>
                <div class='wrap2'>
                  <div class='crop'> <img src='/assets/staff4.jpg'> </div>
                </div>
                <div class='wrap2'>
                  <div class='crop'> <img src='/assets/staff5.jpg'> </div>
                </div>
                <div class='wrap2'>
                  <div class='crop'> <img src='/assets/staff7.jpg'> </div>
                </div>
                <div class='wrap2'>
                  <div class='crop'> <img src='/assets/staff6.jpg'> </div>
                </div>
                <div class='wrap2'>
                  <div class='crop'> <img src='/assets/staff9.jpg'> </div>
                </div>
              </div>
              <!-- END triangle --> 
            </div>
            <!-- END col_12 --> 
            
          </div>
          <!-- END col_12 --> 
          
        </div>
        <!-- END col_6 -->
        
        <p class="dolje">2005 - <script>document.write(new Date().getFullYear())</script> Valeron design studio | Izrada web stranica <a href="http://www.valeron.net" class="linkline">VALERON design studio</a></p>
      </div>
      <!-- END row --> 
      
    </div>
    <!-- END .GRID FLEX --> 
    
  </div>
  <!-- END #section-door --> 
</div>
<!-- END .animsition-overla --> 

<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script type="text/javascript" src="js/jquery.matchHeight-min.js"></script> 
<script src="js/wow.min.js"></script> 
<script src="js/animsition.min.js"></script> 
<script src="js/lightgallery-all.min.js"></script> -->
<script type="text/javascript">
        $(document).ready(function(){
            $('#lightgallery').lightGallery();
        });
    $('#lightgallery2').lightGallery({
        thumbnail:true,
        animateThumb: false,
        showThumbByDefault: false,		
		speed: 1200
    });
	    $('#gallery-99').lightGallery({
        thumbnail:true,
        animateThumb: false,
        showThumbByDefault: false,		
		speed: 1200
    });
        </script> 
<script src="js/functions.js"></script> 
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15815880-3']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>